<!DOCTYPE html>
<meta charset="UTF-8">
<html>
  <head>
    <link rel="stylesheet" href="/static/css/index.css">
    </link> <script src="https://kit.fontawesome.com/db8c487bb7.js" crossorigin="anonymous"></script>
  </head>

  <div id="nav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="/playlists">Playlists</a>
    <a href="/settings">Settings</a>
  </div>

  <div id="main">
    <body>
      <center>
        <div class="avatarcard">
          <img src="{{ bot.get_me().avatar_url }}">
          <div class="avatarcard_container">
            <h1 class="rainbow">{{ bot.get_me().username }}</h1><br><br>
            <p>{{ version }}</p>

            <button class="optionsbutton" onclick="openNav()"><i class="fas fa-bars"></i></button><br>
          </div>
        </div>
      </center>
    </body>
  </div>
  <script src="/static/js/index.js"></script>
</html>
