<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        
        <title>Azura</title>

        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css"/>
        <link rel="stylesheet" href="/static/css/playlists.css"/>

        <script src="/static/js/xhr.js"></script>
        <script src="/static/js/table-dragger.min.js"></script>
        <script src="https://kit.fontawesome.com/db8c487bb7.js" crossorigin="anonymous"></script>
    </head>

    <header class="animate6s">
        <h1 class="rainbow">Azura</h1>
    </header>

    <body>
        <select id="playlist_selector" name="playlist selector" onchange="change_playlist(this)">
            <option value="" disabled selected>Select a playlist</option>
            <option value="-1">Create a playlist</option>
            {% for playlist in playlists %}
            <option value="{{ playlist.id }}">{{ playlist.name }}</option>
            {% endfor %}
        </select>
        <div id="playlist">
            <div id="controls" style="visibility: hidden;">
                <div class="input_block">
                    <label for="playlist_name" id="playlist_name_label">Name: </label>
                    <input type="search" value="" id="playlist_name" placeholder="Enter a name for the playlist...">
                </div>
                
                <div class="input_block">
                    <label for="playlist_description" id="playlist_description_label">Description: </label>
                    <input type="search" value="" id="playlist_description" placeholder="Enter a description for the playlist...">
                </div>
                <br/><br/><br/><br/>
                <div>
                    <input class="button" id="add_track_button" type="submit" value="Add Track" onclick="create_new_item()">
                    <input class="button" id="delete_playlist_button" type="submit" value="Delete Playlist" onclick="delete_playlist()">
                    <input class="button" id="save_playlist_button" type="submit" value="Save Playlist" onclick="save_playlist()">
                </div> 
            </div>
            <br/><br/>
            <div id="items" style="visibility: hidden;">
                <table class="dragtable" id="playlist_items_table">
                    <thead>
                        <tr>
                            <th></th>
                            <div class="tooltip"><th>Name</th><span class="tooltiptext">Test</span></div>
                            <th>Source</th>
                            <th>Start</th>
                            <th>End</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="playlist_items_tbody">
                    </tbody>
                </table>
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
        <script src="/static/js/playlists.js"></script>
    </body>
</html>