<!DOCTYPE html>
<meta charset="UTF-8">
<html>
  <head>
    <link rel="stylesheet" href="static/style.css"></link>
    <script src="https://kit.fontawesome.com/db8c487bb7.js" crossorigin="anonymous"></script>
    <script src="static/table-dragger.min.js"></script>
    <script src="static/playlists.js"></script>
  </head>

  <header class="animate6s">
    <h1 class="rainbow">Azura</h1>
  </header>

  <div class="main">
  <body>
    <label for="playlists" style="display:none">Playlist:</label>
    <select name="playlists" id="playlists" onchange="change()">
      <option value="Select a playlist...">Select a playlist...</option>
      <option value="Add new playlist...">Add new playlist...</option>
      {% for playlist, entries in playlists.items() %}
        <option value="{{ playlist }}">{{ playlist }}</option>
      {% endfor %}
    </select>
    <input id="addRecordBtn" type="submit" value="Add Record" onclick="addRecord()" disabled>
    <input id="delPlaylistBtn" type="submit" value="Delete Playlist" onclick="deletePlaylist()" disabled>
    <input id="saveBtn" type="submit" value="Save" onclick="savePlaylist()" disabled>

    <label for="new_playlist_label" id="new_playlist_label" style="display:none">Name: </label>
    <input type="search" value="" id="new_playlist_entry" placeholder="Enter the name of the playlist..." class="namegen" style="display:none"></input>

    {% for playlist, entries in playlists.items() %}
    <div id="{{ playlist }}_anim_div">
    <label for="{{ playlist }}_name" id="{{ playlist }}_name_label" style="display:none">Name</label>
    <input type="search" value="{{ playlist }}" id="{{ playlist }}_name" placeholder="Enter the name of the playlist..." class="namegen" style="display:none"></input>
    <table class="dragtable" id="{{ playlist }}" style="display:none">
      <thead>
      <tr>
    		<th></th>
        <th class="namegen">Name</th>
        <th class="namegen">Generator</th>
    		<th>Start</th>
    		<th>End</th>
        <th></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
    		<form>
    			{% for i in range(entries|length) %}
    			  <tr id="{{playlist}}_{{i}}">
    					<td class='handle' style="padding: 5px 5px 5px 5px"><i class="fas fa-bars"></i></td>
    			    <td><input type="search" value="{{ entries[i].custom_title }}" id="{{playlist}}_{{i}}_title" placeholder="Enter a title..." class="namegen"></input></td>
    			    <td><input type="search" value="{{ entries[i].generator }}" id="{{playlist}}_{{i}}_generator" placeholder="Enter the URL or search string..." class="namegen"></input></td>
    					<td><input type="search" value="{{ entries[i].start_timestamp }}" id="{{playlist}}_{{i}}_starttime" placeholder="Start at 00:00:00"></input></td>
    					<td><input type="search" value="{{ entries[i].end_timestamp }}" id="{{playlist}}_{{i}}_endtime" placeholder="End at end of track"></input></td>
              <td><button type="button" onclick="return deleteEntry(this);" value="{{playlist}}_{{i}}"><i class="fas fa-trash-alt"></i></button></td>
    			  </tr>
    			{% endfor %}
    		</form>
      </tbody>
    </table>
  </div>
    {% endfor %}
  </body>
</div>

  <footer>
    <small>
      <a href="https://commons.wikimedia.org/wiki/File:Vaporwave-4K-Wallpapers.jpg">
        Background by Almudena6cv
      </a>
      <a href="https://creativecommons.org/licenses/by-sa/4.0/">
        CC-BY-SA-4.0
      </a>
    </small>
  </footer>

  <script>
    var tables = document.getElementsByClassName('dragtable');
    for (i=0; i< tables.length; i++) {
    	el = tables[i];
    	var dragger = tableDragger(el, {
    	    dragHandler: '.handle',
    			mode: 'row',
    			onlyBody: true
    	});
    }
  </script>

</html>
